*{
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
    box-sizing: border-box;
}
.container{
    /* max-width: 1280px; */
    max-width: 80%;
    margin: 0 auto;
    padding: 0 15px;
}
html{
    scroll-behavior: smooth;
}
/* title */
.title span{
    font-size: 14px;
    color: #888888;
    font-weight: 400;
}
.title h1{
    color: #000000;
    font-size: 50px;
    font-weight: 400;
}
.title p{
    font-size: 16px;
    color: #888888;
    font-weight: 700;
    margin-top: 20px;
}


.header{
    border-bottom: 1px solid rgba(255,255,255,0.3);
    position: absolute;
    /* position: fixed; cố định vị trí */
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 0;
}
.header .logo{
    color: #ffffff;
    font-size: 32px;
    text-decoration: none;
    font-weight: 700;
}
.header .logo span{
    position: relative;
    top: 3px;
}
.header .navbar a{
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    margin-left: 50px;
    font-size: 18px;
    transition: all 0.5s;
}
.header .navbar .active,
.header .navbar a:hover{
    color: #e62b4a;
}

/* flex box */
/* flex-shrink:1; giữ nguyên kích thước */
.header .container{
    display: flex;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

/* carousel */
.carousel{
    background-image: url(../image-video/home_slider.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 700px;
    color: #ffffff;
}
.carousel .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
}
.carousel .container p{
    font-size: 25px;
}
.carousel .container h1{
    font-size: 75px;
    line-height: 90px;
}
.carousel .container button{
    font-size: 16px;
    margin-top: 20px;
    padding: 15px 25px;
    background-color: #e62b4a;
    color: white;
    border: 1px solid #e62b4a;
    cursor: pointer;
    letter-spacing: 4px;
    transition: all 0.5s;
}
.carousel .container button:hover{
    background-color: #af2239;
}
.carousel .container i{
    margin-top: 50px;
    font-size: 30px;
}


.portfolio{
    padding: 60px 0;
}
.portfolio .title{
    text-align: center;
    margin-bottom: 30px;
}

.portfolio .main .row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}
.portfolio .main .row .col{
    width: calc(100% / 3);
    padding: 15px;
    margin-bottom: 20px;

}

.portfolio .main .row .col .item img{
    width: 100%;
    filter: grayscale(100%) contrast(50%);
    display: block;
}

.portfolio .main .row .col .item{
    position: relative;
}
.portfolio .main .row .col .item .info{
    background-color: rgba(230, 43, 74, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;
    transition: all 0.5s;
}
.portfolio .main .row .col .item:hover .info{
    opacity: 1;
}


.portfolio .main .row .col .item .info .action{
    padding: 10px;
    text-align: right;
}
.portfolio .main .row .col .item .info .action i{
    background-color: #ffffff;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    transform: translateY(20px);
    transition: all 0.5s;
    cursor: pointer;
}
.portfolio .item .info .action i:hover{
    color: #ffffff;
    background-color: #000000 !important;
}
.portfolio .main .row .col .item .info .detail{
    padding: 10px;
    transform: translateY(20px);
    transition: all 0.5s;
}
.portfolio .main .row .col .item .info .detail p{
    color: #d0c7c8;
}
.portfolio .main .row .col .item .info .detail h1{
    color: #ffffff;
}
.portfolio .main .row .col .item:hover .info .action i,
.portfolio .main .row .col .item:hover .info .detail{
    transform: translateY(0);
}
.blog{
    background-color: #f3f3f3;
    padding: 60px 0;
}
.blog .title{
    text-align: center;
    margin-bottom: 30px;
}
/* CSS GRID LAYOUT */

.blog .main .list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* gap: 20px; */
    /* column-gap: 20px; */
    /* row-gap: 20px; */
}
.blog .main .list .item img{
    width: 100%;
    display: block;
    filter: grayscale(30%) contrast(50%);
    transition: all 0.5s;
}
.blog .main .list .item img:hover{
    filter: none;
}
.blog .main .list .item-1{
    /* grid-column: vitribatdau / span soluongchiem; */
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}
.blog .main .list .item-10{
    grid-column: 3 / span 2;
    grid-row: 3 / span 2;
}

.experience{
    padding: 60px 0;
    background-image: url(../image-video/bussiness_img_1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}
.experience .title{
    text-align: center;
    color: #ffffff;
    margin-bottom: 30px;
}
.experience .title span{
    color: #e62b4a;
    font-weight: 300;
}
.experience .title h1{
    color: #ffffff;
}

.experience .main video{
    width: 100%;
}



.contact{
    padding: 60px 0;
}
.contact .title{
    text-align: center;
    margin-bottom: 30px;
}
.contact .title p{
    font-weight: 400;
}
.contact .main .row{
    display: flex;
}
.contact .main .row .col-left{
    width: 60%;
    margin-right: 30px;
}
.contact .main .row .col-left iframe{
    width: 100%;
    height: 400px;
    display: block;
}
.contact .main .row .col-right{
    width: 40%;
}
.contact .main .row .col-right form{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}
.contact .main .row .col-right form input,
.contact .main .row .col-right form textarea{
    padding: 8px;
    width: 100%;
    margin-bottom: 20px;
}
.contact .main .row .col-right form button{
    background-color: #000000;
    padding: 20px 30px;
    display: block;
    width: 100%;
    color: #ffffff;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.5s;
}
.contact .main .row .col-right form button:hover{
    background-color: #e62b4a;
    border-color: #e62b4a;
}

.footer{
    background-color: #000000;
}
.footer .container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 100px 0;
}
.footer p{
    color: #ffffff;
    font-size: 14px;
}
.footer a{
    color: #ffffff;
    display: inline-block;
    width: 54px;
    height: 54px;
    text-align: center;
    line-height: 54px;
    border-radius: 50%;
    margin-left: 5px;
    background-color: rgba(255,255,255,0.3);
    transition: all 0.5s;
}
.footer a:hover{
    background-color: #e62b4a;
}



.back-to-top{
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    text-align: center;
    line-height: 40px;
    border-radius: 5px;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

















